# Interfaces - consuming data

## Connecting to a Stock Market API

In [1]:
# get stock market data for free
import requests
import pandas as pd

## hide API key

In [2]:
# connect to a stock market API
# alpha vantage stock market API
key = "0A690BS24UC3H1KT"

## --

In [3]:
#key = get a key at https://www.alphavantage.co/
stocks = ['AAPL','TSLA','AMZN']

for stock in stocks:
    inputs = {
      'function' : 'TIME_SERIES_DAILY',
     'symbol' : stock,
     'apikey' : key

    }

    response = requests.get("https://www.alphavantage.co/query",inputs)

    data = pd.DataFrame(response.json()['Time Series (Daily)']).T
    print("")
    print(stock)
    print(data.head())

AAPL
             1. open   2. high    3. low  4. close 5. volume
2024-04-19  166.2100  166.4000  164.0750  165.0000  68149377
2024-04-18  168.0300  168.6400  166.5500  167.0400  43122903
2024-04-17  169.6100  170.6500  168.0000  168.0000  50901210
2024-04-16  171.7500  173.7600  168.2700  169.3800  73711235
2024-04-15  175.3600  176.6300  172.5000  172.6900  73531773

TSLA
             1. open   2. high    3. low  4. close  5. volume
2024-04-19  148.9700  150.9400  146.2200  147.0500   87074500
2024-04-18  151.2500  152.2000  148.7000  149.9300   96098830
2024-04-17  157.6400  158.3300  153.7800  155.4500   82439718
2024-04-16  156.7420  158.1900  153.7500  157.1100   96999956
2024-04-15  170.2400  170.6900  161.3800  161.4800  100245310

AMZN
             1. open   2. high    3. low  4. close 5. volume
2024-04-19  178.7400  179.0000  173.4400  174.6300  56000729
2024-04-18  181.4700  182.3900  178.6500  179.2200  30723793
2024-04-17  184.3100  184.5700  179.8200  181.2800  31359673
2024-04-16  183.2700  184.8300  182.2600  183.3200  32891265
2024-04-15  187.4250  188.6900  183.0000  183.6200  48052395

## Web Scraping Wikipedia

In [4]:
# and web scrape information from the internet :o
# https://en.wikipedia.org/wiki/List_of_highest-grossing_films
films = pd.read_html("https://en.wikipedia.org/wiki/List_of_highest-grossing_films")

In [5]:
films[0]

,Rank,Peak,Title,Worldwide gross,Year,Ref
0,1,1,Avatar,"$2,923,706,026",2009,[# 1][# 2]
1,2,1,Avengers: Endgame,"$2,797,501,328",2019,[# 3][# 4]
2,3,3,Avatar: The Way of Water,"$2,320,250,281",2022,[# 5][# 6]
3,4,1,Titanic,"T$2,257,844,554",1997,[# 7][# 8]
4,5,3,Star Wars: The Force Awakens,"$2,068,223,624",2015,[# 9][# 10]
5,6,4,Avengers: Infinity War,"$2,048,359,754",2018,[# 11][# 12]
6,7,6,Spider-Man: No Way Home,"$1,921,847,111",2021,[# 13][# 14]
7,8,3,Jurassic World,"$1,671,537,444",2015,[# 15][# 16]
8,9,7,The Lion King,"$1,656,943,394",2019,[# 17][# 4]
9,10,3,The Avengers,"$1,518,815,515",2012,[# 18][# 19]
10,11,4,Furious 7,"$1,515,341,399",2015,[# 20][# 21]
11,12,11,Top Gun: Maverick,"$1,495,696,292",2022,[# 22][# 23]
12,13,10,Frozen II,"$1,450,026,933",2019,[# 24][# 25]
13,14,14,Barbie,"$1,445,638,421",2023,[# 26][# 27]
14,15,5,Avengers: Age of Ultron,"$1,402,809,540",2015,[# 28][# 21]
15,16,15,The Super Mario Bros. Movie †,"$1,362,052,250",2023,[# 29][# 30]
16,17,9,Black Panther,"$1,347,280,838",2018,[# 31][# 32]
17,18,3,Harry Potter and the Deathly Hallows – Part 2,"$1,342,139,727",2011,[# 33][# 34]
18,19,9,Star Wars: The Last Jedi,"$1,332,539,889",2017,[# 35][# 36]
19,20,12,Jurassic World: Fallen Kingdom,"$1,308,473,425",2018,[# 37][# 12]
20,21,5,Frozen,"F$1,290,000,000",2013,[# 38][# 39]
21,22,10,Beauty and the Beast,"$1,263,521,126",2017,[# 40][# 41]
22,23,15,Incredibles 2,"$1,242,805,359",2018,[# 42][# 12]
23,24,11,The Fate of the Furious,"F8$1,238,764,765",2017,[# 43][# 41]
24,25,5,Iron Man 3,"$1,214,811,252",2013,[# 44][# 45]
25,26,10,Minions,"$1,159,444,662",2015,[# 46][# 16]
26,27,12,Captain America: Civil War,"$1,153,337,496",2016,[# 47][# 48]
27,28,20,Aquaman,"$1,148,528,393",2018,[# 49][# 12]
28,29,2,The Lord of the Rings: The Return of the King,"$1,147,997,407",2003,[# 50][# 51]
29,30,24RK,Spider-Man: Far From Home,"$1,131,927,996",2019,[# 52][# 4]
30,31,23RK,Captain Marvel,"$1,128,274,794",2019,[# 53][# 54]
31,32,5RK,Transformers: Dark of the Moon,"$1,123,794,079",2011,[# 55][# 34]
32,33,7,Skyfall,"$1,108,569,499",2012,[# 56][# 57]
33,34,10,Transformers: Age of Extinction,"$1,104,054,072",2014,[# 58][# 59]
34,35,7,The Dark Knight Rises,"$1,081,169,825",2012,[# 60][# 61]
35,36,31,Joker,"$1,074,458,282",2019,[# 62][# 25]
36,37,32,Star Wars: The Rise of Skywalker,"$1,074,144,248",2019,[# 63][# 25]
37,38,30,Toy Story 4,"$1,073,394,593",2019,[# 64][# 4]
38,39,4TS3,Toy Story 3,"$1,066,970,811",2010,[# 65][# 66]
39,40,3,Pirates of the Caribbean: Dead Man's Chest,"$1,066,179,747",2006,[# 67][# 68]
40,41,20,Rogue One: A Star Wars Story,"$1,057,420,387",2016,[# 69][# 70]
41,42,34,Aladdin,"$1,050,693,953",2019,[# 71][# 4]
42,43,6,Pirates of the Caribbean: On Stranger Tides,"$1,045,713,802",2011,[# 72][# 66]
43,44,1,Jurassic Park,"$1,037,535,230",1993,[# 73][# 74]
44,45,24,Despicable Me 3,"$1,034,800,131",2017,[# 75][# 41]
45,46,22,Finding Dory,"$1,028,570,942",2016,[# 76][# 77]
46,47,2,Star Wars: Episode I – The Phantom Menace,"$1,027,082,707",1999,[# 78][# 8]
47,48,5,Alice in Wonderland,"$1,025,468,216",2010,[# 79][# 80]
48,49,24,Zootopia,"$1,023,784,195",2016,[# 81][# 48]
49,50,14,The Hobbit: An Unexpected Journey,"$1,017,030,651",2012,[# 82][# 83]

# Interfaces - serving data

## Creating a Word Document

In [6]:
from docx import Document
from docx.shared import Inches
document = Document()

# document.add_heading("Ironhack Manifesto", 0)

# p = document.add_paragraph("Show up for classes fresh and on time")

# p = document.add_paragraph("Complete your labs")

# p = document.add_paragraph("Everything in Python is an object")

# document.add_heading("An Inspirational Quote for the class", level=1)
# document.add_paragraph('Everything in Python is an object', style='Intense Quote')

# document.add_paragraph(
#     'first item in unordered list', style='List Bullet'
# )
# document.add_paragraph(
#     'first item in ordered list', style='List Number'
# )

# document.add_paragraph('Checkout the documentation: https://python-docx.readthedocs.io/en/latest/user/quickstart.html')

# document.add_picture('do-you-even.jpg', width=Inches(4))

# records = (
#     (3, '101', 'Spam'),
#     (7, '422', 'Eggs'),
#     (4, '631', 'Spam, spam, eggs, and spam')
# )

# table = document.add_table(rows=1, cols=3)
# hdr_cells = table.rows[0].cells
# hdr_cells[0].text = 'Qty'
# hdr_cells[1].text = 'Id'
# hdr_cells[2].text = 'Desc'
# for qty, id, desc in records:
#     row_cells = table.add_row().cells
#     row_cells[0].text = str(qty)
#     row_cells[1].text = id
#     row_cells[2].text = desc

# document.add_page_break()

document.save('demo.docx')

ModuleNotFoundError: No module named 'docx'

## Text to speech

In [ ]:
# only works on windows,
#import win32com.client as wincl
#speak = wincl.Dispatch("SAPI.SpVoice")
#speak.Speak("In the beginning the universe was created. This has made a lot of people angry and is widely regarded as a bad move")

In [ ]:
# only works on ios
import speech
speech.say("In the beginning the universe was created. This has made a lot of people angry and is widely regarded as a bad move", 'en_EN')

## Speech to text

In [ ]:
# speech to text
!pip install PyAudio

In [ ]:
#import library

import speech_recognition as sr

# Initialize recognizer class (for recognizing the speech)

r = sr.Recognizer()

# Reading Microphone as source
# listening the speech and store in audio_text variable

with sr.Microphone() as source:
    print("Talk")
    audio_text = r.listen(source)
    print("Time over, thanks")
# recoginize_() method will throw a request error if the API is unreachable, hence using exception handling

    try:
        # using google speech recognition
        print("Text: "+r.recognize_google(audio_text))
    except:
         print("Sorry, I did not get that")